<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="routes" patternSyntax="ECMAScript">
                    <match url="/*" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_URI}" pattern="fonts" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/core/resolver/routes.php" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
    </system.webServer>
</configuration>
